@font-face {
    font-family: __Inter_f367f3;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(/_next/static/media/ba9851c3c22cd980-s.woff2) format("woff2");
    unicode-range: u+0460-052f,u+1c80-1c8a,u+20b4,u+2de0-2dff,u+a640-a69f,u+fe2e-fe2f
}

@font-face {
    font-family: __Inter_f367f3;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(/_next/static/media/21350d82a1f187e9-s.woff2) format("woff2");
    unicode-range: u+0301,u+0400-045f,u+0490-0491,u+04b0-04b1,u+2116
}

@font-face {
    font-family: __Inter_f367f3;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(/_next/static/media/c5fe6dc8356a8c31-s.woff2) format("woff2");
    unicode-range: u+1f??
}

@font-face {
    font-family: __Inter_f367f3;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(/_next/static/media/19cfc7226ec3afaa-s.woff2) format("woff2");
    unicode-range: u+0370-0377,u+037a-037f,u+0384-038a,u+038c,u+038e-03a1,u+03a3-03ff
}

@font-face {
    font-family: __Inter_f367f3;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(/_next/static/media/df0a9ae256c0569c-s.woff2) format("woff2");
    unicode-range: u+0102-0103,u+0110-0111,u+0128-0129,u+0168-0169,u+01a0-01a1,u+01af-01b0,u+0300-0301,u+0303-0304,u+0308-0309,u+0323,u+0329,u+1ea0-1ef9,u+20ab
}

@font-face {
    font-family: __Inter_f367f3;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(/_next/static/media/8e9860b6e62d6359-s.woff2) format("woff2");
    unicode-range: u+0100-02ba,u+02bd-02c5,u+02c7-02cc,u+02ce-02d7,u+02dd-02ff,u+0304,u+0308,u+0329,u+1d00-1dbf,u+1e00-1e9f,u+1ef2-1eff,u+2020,u+20a0-20ab,u+20ad-20c0,u+2113,u+2c60-2c7f,u+a720-a7ff
}

@font-face {
    font-family: __Inter_f367f3;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(/_next/static/media/e4af272ccee01ff0-s.p.woff2) format("woff2");
    unicode-range: u+00??,u+0131,u+0152-0153,u+02bb-02bc,u+02c6,u+02da,u+02dc,u+0304,u+0308,u+0329,u+2000-206f,u+20ac,u+2122,u+2191,u+2193,u+2212,u+2215,u+feff,u+fffd
}

@font-face {
    font-family: __Inter_Fallback_f367f3;
    src: local("Arial");
    ascent-override:90.49%;descent-override:22.56%;line-gap-override:0.00%;size-adjust:107.06%}

.__className_f367f3 {
    font-family: __Inter_f367f3,__Inter_Fallback_f367f3;
    font-style: normal
}

*,:after,:before {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
    --tw-contain-style:
}

::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
    --tw-contain-style:
}

/*
! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com
*/
*,:after,:before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb
}

:after,:before {
    --tw-content: ""
}

:host,html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent
}

body {
    margin: 0;
    line-height: inherit
}

hr {
    height: 0;
    color: inherit;
    border-top-width: 1px
}

abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    font-weight: inherit
}

a {
    color: inherit;
    text-decoration: inherit
}

b,strong {
    font-weight: bolder
}

code,kbd,pre,samp {
    font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
    font-feature-settings: normal;
    font-variation-settings: normal;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

table {
    text-indent: 0;
    border-color: inherit
}

button,input,optgroup,select,textarea {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    color: inherit;
    margin: 0;
    padding: 0
}

button,select {
    text-transform: none
}

button,input:where([type=button]),input:where([type=reset]),input:where([type=submit]) {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none
}

:-moz-focusring {
    outline: auto
}

:-moz-ui-invalid {
    box-shadow: none
}

progress {
    vertical-align: baseline
}

::-webkit-inner-spin-button,::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

summary {
    display: list-item
}

blockquote,dd,dl,figure,h1,h2,h3,h4,h5,h6,hr,p,pre {
    margin: 0
}

fieldset {
    margin: 0
}

fieldset,legend {
    padding: 0
}

menu,ol,ul {
    list-style: none;
    margin: 0;
    padding: 0
}

dialog {
    padding: 0
}

textarea {
    resize: vertical
}

input::-moz-placeholder,textarea::-moz-placeholder {
    opacity: 1;
    color: #9ca3af
}

input::placeholder,textarea::placeholder {
    opacity: 1;
    color: #9ca3af
}

[role=button],button {
    cursor: pointer
}

:disabled {
    cursor: default
}

audio,canvas,embed,iframe,img,object,svg,video {
    display: block;
    vertical-align: middle
}

img,video {
    max-width: 100%;
    height: auto
}

[hidden]:where(:not([hidden=until-found])) {
    display: none
}

* {
    border: var(--color-border);
    outline: var(--color-ring) .5
}

body {
    background-color: var(--background);
    color: var(--foreground)
}

.container {
    width: 100%
}

@media (min-width: 640px) {
    .container {
        max-width:640px
    }
}

@media (min-width: 768px) {
    .container {
        max-width:768px
    }
}

@media (min-width: 1024px) {
    .container {
        max-width:1024px
    }
}

@media (min-width: 1280px) {
    .container {
        max-width:1280px
    }
}

@media (min-width: 1536px) {
    .container {
        max-width:1536px
    }
}

.pointer-events-none {
    pointer-events: none
}

.visible {
    visibility: visible
}

.static {
    position: static
}

.fixed {
    position: fixed
}

.absolute {
    position: absolute
}

.relative {
    position: relative
}

.inset-0 {
    inset: 0
}

.inset-y-0 {
    top: 0;
    bottom: 0
}

.left-0 {
    left: 0
}

.right-0 {
    right: 0
}

.isolate {
    isolation: isolate
}

.z-10 {
    z-index: 10
}

.mx-auto {
    margin-left: auto;
    margin-right: auto
}

.my-10 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem
}

.mb-1 {
    margin-bottom: .25rem
}

.mb-10 {
    margin-bottom: 2.5rem
}

.mb-12 {
    margin-bottom: 3rem
}

.mb-8 {
    margin-bottom: 2rem
}

.mt-10 {
    margin-top: 2.5rem
}

.mt-2 {
    margin-top: .5rem
}

.mt-4 {
    margin-top: 1rem
}

.block {
    display: block
}

.inline-block {
    display: inline-block
}

.flex {
    display: flex
}

.inline-flex {
    display: inline-flex
}

.grid {
    display: grid
}

.hidden {
    display: none
}

.h-11 {
    height: 2.75rem
}

.h-14 {
    height: 3.5rem
}

.h-\[1px\] {
    height: 1px
}

.h-full {
    height: 100%
}

.w-1\/4 {
    width: 25%
}

.w-64 {
    width: 16rem
}

.w-\[1px\] {
    width: 1px
}

.w-full {
    width: 100%
}

.max-w-7xl {
    max-width: 80rem
}

.max-w-\[520px\] {
    max-width: 520px
}

.max-w-\[600px\] {
    max-width: 600px
}

.flex-1 {
    flex: 1 1 0%
}

.shrink-0 {
    flex-shrink: 0
}

.flex-grow {
    flex-grow: 1
}

.transform {
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

@keyframes marquee {
    0% {
        transform: translateX(0)
    }

    to {
        transform: translateX(calc(-100% - var(--gap)))
    }
}

.animate-marquee {
    animation: marquee var(--duration) linear infinite
}

@keyframes marquee-vertical {
    0% {
        transform: translateY(0)
    }

    to {
        transform: translateY(calc(-100% - var(--gap)))
    }
}

.animate-marquee-vertical {
    animation: marquee-vertical var(--duration) linear infinite
}

.cursor-pointer {
    cursor: pointer
}

.select-none {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.grid-cols-1 {
    grid-template-columns: repeat(1,minmax(0,1fr))
}

.flex-row {
    flex-direction: row
}

.flex-col {
    flex-direction: column
}

.items-center {
    align-items: center
}

.justify-end {
    justify-content: flex-end
}

.justify-center {
    justify-content: center
}

.justify-between {
    justify-content: space-between
}

.justify-around {
    justify-content: space-around
}

.gap-2 {
    gap: .5rem
}

.gap-3 {
    gap: .75rem
}

.gap-8 {
    gap: 2rem
}

.gap-\[10px\] {
    gap: 10px
}

.gap-\[8px\] {
    gap: 8px
}

.space-x-4>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(1rem * var(--tw-space-x-reverse));
    margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)))
}

.overflow-hidden {
    overflow: hidden
}

.whitespace-nowrap {
    white-space: nowrap
}

.rounded {
    border-radius: .25rem
}

.rounded-\[60px\] {
    border-radius: 60px
}

.rounded-full {
    border-radius: 9999px
}

.rounded-lg {
    border-radius: .5rem
}

.rounded-sm {
    border-radius: .125rem
}

.rounded-xl {
    border-radius: .75rem
}

.rounded-b-none {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0
}

.border {
    border-width: 1px
}

.border-gray-950\/\[\.1\] {
    border-color: rgba(3,7,18,.1)
}

.bg-\[\#1a1a1a\] {
    --tw-bg-opacity: 1;
    background-color: rgb(26 26 26/var(--tw-bg-opacity,1))
}

.bg-gray-950\/\[\.01\] {
    background-color: rgba(3,7,18,.01)
}

.bg-gradient-to-l {
    background-image: linear-gradient(to left,var(--tw-gradient-stops))
}

.bg-gradient-to-r {
    background-image: linear-gradient(to right,var(--tw-gradient-stops))
}

.p-2 {
    padding: .5rem
}

.p-4 {
    padding: 1rem
}

.p-6 {
    padding: 1.5rem
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem
}

.px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem
}

.px-8 {
    padding-left: 2rem;
    padding-right: 2rem
}

.px-\[32px\] {
    padding-left: 32px;
    padding-right: 32px
}

.px-\[6px\] {
    padding-left: 6px;
    padding-right: 6px
}

.px-\[8px\] {
    padding-left: 8px;
    padding-right: 8px
}

.py-\[10px\] {
    padding-top: 10px;
    padding-bottom: 10px
}

.py-\[6px\] {
    padding-top: 6px;
    padding-bottom: 6px
}

.py-\[9px\] {
    padding-top: 9px;
    padding-bottom: 9px
}

.pb-2 {
    padding-bottom: .5rem
}

.pb-4 {
    padding-bottom: 1rem
}

.pl-8 {
    padding-left: 2rem
}

.pr-8 {
    padding-right: 2rem
}

.pt-4 {
    padding-top: 1rem
}

.pt-8 {
    padding-top: 2rem
}

.text-center {
    text-align: center
}

.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem
}

.text-\[20px\] {
    font-size: 20px
}

.text-\[25px\] {
    font-size: 25px
}

.text-sm {
    font-size: .875rem;
    line-height: 1.25rem
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem
}

.text-xs {
    font-size: .75rem;
    line-height: 1rem
}

.font-bold {
    font-weight: 700
}

.font-medium {
    font-weight: 500
}

.font-semibold {
    font-weight: 600
}

.font-thin {
    font-weight: 100
}

.leading-\[24px\] {
    line-height: 24px
}

.text-\[\#7553ff\] {
    --tw-text-opacity: 1;
    color: rgb(117 83 255/var(--tw-text-opacity,1))
}

.shadow-xl {
    --tw-shadow: 0 20px 25px -5px rgba(0,0,0,.1),0 8px 10px -6px rgba(0,0,0,.1);
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color),0 8px 10px -6px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)
}

.filter {
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.backdrop-blur-\[6px\] {
    --tw-backdrop-blur: blur(6px);
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia)
}

.transition {
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s
}

.transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s
}

.\[--duration\: 20s\] {
    --duration:20s
}

.\[--duration\: 40s\] {
    --duration:40s
}

.\[--gap\: 1rem\] {
    --gap:1rem
}

.\[animation-direction\:reverse\] {
    animation-direction: reverse
}

.\[gap\:var\(--gap\)\] {
    gap: var(--gap)
}

.\[mask-image\:linear-gradient\(to_bottom\2c white\2c transparent\)\] {
    -webkit-mask-image: linear-gradient(180deg,#fff,transparent);
    mask-image: linear-gradient(180deg,#fff,transparent)
}

@plugin "tailwindcss-animate";@custom-variant dark (&:is(.dark *));a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block
}

body {
    background-color: #1a1a1a;
    background-image: url(/assets/background/grain-bg.svg);
    background-repeat: repeat;
    background-position: 50%;
    min-height: 100vh;
    line-height: 1
}

ol,ul {
    list-style: none
}

blockquote,q {
    quotes: none
}

blockquote:after,blockquote:before,q:after,q:before {
    content: "";
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

input:-webkit-autofill,input:-webkit-autofill:focus,input:-webkit-autofill:hover,select:-webkit-autofill,select:-webkit-autofill:focus,select:-webkit-autofill:hover,textarea:-webkit-autofill,textarea:-webkit-autofill:focus,textarea:-webkit-autofill:hover {
    -webkit-box-shadow: inset 0 0 0 1000px #f4f4f5!important
}

:root {
    --background: #fff;
    --foreground: #f4f4f5;
    --card: #fff;
    --card-foreground: #020817;
    --popover: #fff;
    --popover-foreground: #020817;
    --primary: #0f172a;
    --primary-foreground: #f4f4f5;
    --secondary: #f1f5f9;
    --secondary-foreground: #0f172a;
    --muted: #f1f5f9;
    --muted-foreground: #64748b;
    --accent: #f1f5f9;
    --accent-foreground: #0f172a;
    --destructive: #ef4444;
    --destructive-foreground: #f8fafc;
    --border: #414b4e;
    --input: #e2e8f0;
    --ring: #020817;
    --radius: 16px;
    --chart-1: #e76e50;
    --chart-2: #2a9d90;
    --chart-3: #274754;
    --chart-4: #e8c468;
    --chart-5: #f4a462
}

.dark {
    --background: #17151e;
    --foreground: #f4f4f5;
    --card: #020817;
    --card-foreground: #f8fafc;
    --popover: #020817;
    --popover-foreground: #f8fafc;
    --primary: #f8fafc;
    --primary-foreground: #0f172a;
    --secondary: #c9c9cf;
    --secondary-foreground: #fff;
    --muted: #1e293b;
    --muted-foreground: #797c7c;
    --accent: #1e293b;
    --accent-foreground: #f8fafc;
    --destructive: #7f1d1d;
    --destructive-foreground: #f8fafc;
    --border: #272f30;
    --input: #1e293b;
    --ring: #fffa66;
    --chart-1: #2662d9;
    --chart-2: #2eb88a;
    --chart-3: #e88c30;
    --chart-4: #af57db;
    --chart-5: #e23670
}

@utility container {
    margin-inline:auto;padding-inline:2rem}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --radius-xs: calc(var(--radius) - 8px);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --animate-accordion-down: accordion-down 0.2s ease-out;
    --animate-accordion-up: accordion-up 0.2s ease-out;
    --container-2xs: 16rem;
    --container-4xs: 8rem;
    --container-16xs: 4rem;
    @keyframes accordion-down {
        0% {
            height: 0
        }

        to {
            height: var(--radix-accordion-content-height)
        }
    }

    @keyframes accordion-up {
        0% {
            height: var(--radix-accordion-content-height)
        }

        to {
            height: 0
        }
    }
}

.hover\:bg-gray-950\/\[\.05\]:hover {
    background-color: rgba(3,7,18,.05)
}

.hover\:decoration-purple-600:hover {
    text-decoration-color: #9333ea
}

.hover\:opacity-70:hover {
    opacity: .7
}

.focus-visible\:ring-2:focus-visible {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow,0 0 #0000)
}

.focus-visible\:ring-offset-2:focus-visible {
    --tw-ring-offset-width: 2px
}

.disabled\:pointer-events-none:disabled {
    pointer-events: none
}

.disabled\:opacity-50:disabled {
    opacity: .5
}

.group:hover .group-hover\:\[animation-play-state\:paused\] {
    animation-play-state: paused
}

.data-\[state\=active\]\:bg-\[\#182222\][data-state=active] {
    --tw-bg-opacity: 1;
    background-color: rgb(24 34 34/var(--tw-bg-opacity,1))
}

.dark\:border-gray-50\/\[\.1\]:is(.dark *) {
    border-color: rgba(249,250,251,.1)
}

.dark\:bg-gray-50\/\[\.10\]:is(.dark *) {
    background-color: rgba(249,250,251,.1)
}

.dark\:text-white:is(.dark *) {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity,1))
}

.dark\:text-white\/40:is(.dark *) {
    color: hsla(0,0%,100%,.4)
}

.dark\:hover\:bg-gray-50\/\[\.15\]:hover:is(.dark *) {
    background-color: rgba(249,250,251,.15)
}

@media (min-width: 768px) {
    .md\:flex {
        display:flex
    }

    .md\:flex-1 {
        flex: 1 1 0%
    }

    .md\:justify-start {
        justify-content: flex-start
    }

    .md\:justify-between {
        justify-content: space-between
    }

    .md\:text-2xl {
        font-size: 1.5rem;
        line-height: 2rem
    }

    .md\:text-4xl {
        font-size: 2.25rem;
        line-height: 2.5rem
    }
}

@media (min-width: 1024px) {
    .lg\:mx-0 {
        margin-left:0;
        margin-right: 0
    }

    .lg\:max-w-none {
        max-width: none
    }

    .lg\:grid-cols-3 {
        grid-template-columns: repeat(3,minmax(0,1fr))
    }

    .lg\:text-2xl {
        font-size: 1.5rem;
        line-height: 2rem
    }

    .lg\:text-4xl {
        font-size: 2.25rem;
        line-height: 2.5rem
    }

    .lg\:text-5xl {
        font-size: 3rem;
        line-height: 1
    }
}
